<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>COSCI - ระบบยืมคืนครุภัณฑ์</title>
<meta name="description" content="">
<meta name="author" content="">

<!-- =============== Bootstrap =============== -->
<link rel="stylesheet" type="text/css"  href="/bootstrap.css">

<!-- =============== Stylesheet ===============  -->
<link rel="stylesheet" type="text/css"  href="/style.css">
<link rel="stylesheet" type="text/css"  href="/fontface.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Kanit:200,300,400,500,600,700&amp;subset=thai" rel="stylesheet">

</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<!-- =============== Navigation =============== -->
<nav id="menu" class="navbar navbar-default navbar-fixed-top">
  <div class="container"> 
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> 
          <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <a class="navbar-brand page-scroll" href="#page-top"><img class="logo-header" src="/cosciLogo.png"></a></div>
    
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-left">
        <li><a href="#about" class="page-scroll">Home&nbsp;&nbsp;&nbsp;•</a></li>
        <li><a href="#portfolio" class="page-scroll">Equipment&nbsp;&nbsp;&nbsp;•</a></li>
        <li><a href="#team" class="page-scroll">Contact&nbsp;&nbsp;&nbsp;•</a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- Header -->
<header id="header">
  <div class="intro">
    <div class="overlay">
      <div class="container">
        <div class="row">
          <div class="intro-text">
            <h1>College of Social<br>
              Communication Innovation</h1><hr>
            <p>ระบบยืมคืนครุภัณฑ์ของวิยาลัยนวัตกรรมสื่อสารสังคม</p>
            <a href="#about" class="btn btn-custom btn-lg page-scroll">เริ่มการยืม</a></div>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- About Section -->
<div id="about">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="about-img"><img src="/bg-index-2.jpeg" class="img-responsive" alt=""></div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="about-text">
          <h2>ข้อตกลงในการยืมคืนอุปกรณ์ครุภัณฑ์</h2>
          <hr>
          <h3>1. หลักฐานการยืม</h3>
          <p>
            - ใบคำร้องขอยืมอุปกรณ์หรือหนังสือขอความอนุเคราะห์ยืม<br>
            - บัตรประจำตัวนิสิต
          </p>
          <h3>2. ระยะเวลาในการยืม-คืน อุปกรณ์</h3>
          <p>
            • เวลาเปิดทำการ <br>
            - วันจันทร์-วันศุกร์ เวลา 08.30 - 16.30 น. (ยกเว้นวันหยุดนักขัตฤกษ์)<br>
            • ส่งหนังสือยืมอุปกรณ์ล่วงหน้า อย่างน้อย 3 วัน<br>
            • ยืมอุปกรณ์ได้ไม่เกิน 7 วัน (นับวันเสาร์ และวันอาทิตย์) หากมีความจำเป็นต้องใช้อุปกรณ์เกินกว่า 7 วัน ควรแนบแผนการถ่ายทำมาด้วย
          </p>
          <h3>3. อัตราค่าปรับ</h3>
          <p>
            - หากส่งคืนอุปกรณ์ล่าช้ากว่าเวลาที่กำหนดไว้ จะคิดค่าปรับรายการละ 100 บาทต่อวัน<br>
            - ในกรณีที่อุปกรณ์ที่ยืมไปใช้งานเกิดชำรุดจะต้องเสียค่าซ่อมตามที่ศูนย์บริการนิสิตพิจารณา<br>
            - ในกรณีที่อุปกรณ์ที่ยืมไปใช้งานเกิดสูญเสียสภาพการใช้งานโดยสิ้นเชิงไม่สามารถซ่อมแซมได้หรือสูญหาย
            ผู้ยืมจะต้องดำเนินการซื้อทดแทนให้แก่ศูนย์บริการนิสิต โดยอุปกรณ์นั้นจะต้องมีคุณภาพเดียวกันหรือใกล้เคียงกัน
            และหากไม่สามารถซื้อทดแทนให้ได้จะต้องเสียค่าปรับเป็นจำนวนเงิน 2 เท่าของราคาอุปกรณ์ที่ยืมไป<br>
          </p>
          <a href="/login" class="btn btn-custom">ยอมรับข้อตกลงเพื่อเข้าสู่ระบบ</a></div>
        </div>
      </div>
    </div>
</div>

<!-- Portfolio Section -->
<div id="portfolio">
  <div class="section-title text-center center">
    <div class="overlay">
      <h2>EQUIPMENT</h2>
      <hr>
      <p>ครุภัณฑ์ทั้งหมดที่นิสิตสามารถยืมได้</p>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="categories">
        <ul class="cat">
          <li>
            <ol class="type">
              <li><a href="#" data-filter="*" class="active">All</a></li>
              <li><a href="#" data-filter=".camera">CAMERA</a></li>
              <li><a href="#" data-filter=".assessory">ACCESSORY</a></li>
              <li><a href="#" data-filter=".device">DEVICE</a></li>
            </ol>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="row">
      <div class="portfolio-items">
        <% if (sets.length > 0) {%>
          <% sets.forEach((value, index) => { %>
          <div class="col-xs-6 col-md-3 col-lg-3 <%= value.set_category %>">
            <div class="portfolio-item">
              <div class="hover-bg"> 
                <a href="/equip/<%=value.set_id%>" title="<%= value.set_name %>">
                  <div class="hover-text">
                    <h4>MORE</h4>
                  </div>
                  <img src="/portfolio/<%= value.set_pic %>" class="img-responsive" alt="<%= value.set_name %>">
                </a>
              </div>
            </div>
          </div>
          <% }) %>
        <% } %>

      </div>
    </div>
  </div>
</div>

<!-- Team Section -->
<div id="team" class="text-center">
  <div class="overlay">
    <div class="container">
      <div class="col-md-10 col-md-offset-1 section-title">
        <h2>CONTACT</h2>
        <hr>
        <p>อาคารวิทยาลัยนวัตกรรมสื่อสารสังคม(ริมน้ำ)ศูนย์บริการนิสิต ชั้น 15</p>
        <p>วันจันทร์-ศุกร์: 08:30 - 16:30 PM</p>
      </div>
      <div id="row">
        <div class="col-md-4 team">
          <div class="thumbnail">
            <div class="team-img"><img src="/team/admin-1.png"alt="..."></div>
            <div class="caption">
              <h3>นายณภัทร สุบรรณพงษ์</h3>
              <p>Email :	napatsu@hotmail.com</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 team">
          <div class="thumbnail">
            <div class="team-img"><img src="/team/admin-2.png" alt="..."></div>
            <div class="caption">
                <h3>นายวัชรพงศ์ ศิริมาสกุล</h3>
                <p>Email :	neast283@gmail.com</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 team">
          <div class="thumbnail">
            <div class="team-img"><img src="/team/admin-3.png" alt="..."></div>
            <div class="caption">
                <h3>นายนิธิธัช จุลมกร</h3>
                <p>Email :	gun.024580185@gmail.com</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="footer">
  <div class="container-fluid text-center copyrights">
    <div class="col-md-8 col-md-offset-2">
      <div class="social">
        <ul>
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
        </ul>
      </div>
      <p>&copy; COLLEGE OF SOCIAL COMMUNICATION INNOVATION.ALL RIGHTS RESERVED<br><br>
        TEL. 02-649-5000 EXT 11275 , 02-259-2343 EMAIL. PRCOSCISWU@GMAIL.COM
      </p>
    </div>
  </div>
</div>
<script type="text/javascript" src="/jquery.1.11.1.js"></script> 
<script type="text/javascript" src="/bootstrap.js"></script> 
<script type="text/javascript" src="/SmoothScroll.js"></script> 
<script type="text/javascript" src="/jquery.isotope.js"></script> 
<script type="text/javascript" src="/main.js"></script>
</body>
</html>
