<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>COSCI - ระบบยืมคืนอุปกรณ์ครุภัณฑ์</title>
<meta name="description" content="">
<meta name="author" content="">

<!-- =============== Bootstrap =============== -->
<link rel="stylesheet" type="text/css"  href="/bootstrap.css">

<!-- =============== Stylesheet ===============  -->
<link rel="stylesheet" type="text/css"  href="/style.css">
<link rel="stylesheet" type="text/css"  href="/fontface.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Kanit:200,300,400,500,600,700&amp;subset=thai" rel="stylesheet">

</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<!-- =============== Navigation =============== -->
<nav id="menu" class="navbar navbar-default navbar-fixed-top">
  <div class="container"> 
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> 
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> 
      </button>
      <a class="navbar-brand page-scroll" href="#page-top"><img class="logo-header" src="/cosciLogo.png"></a>
    </div>
    
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-left">
        <li><a href="#about" class="page-scroll">Home&nbsp;&nbsp;&nbsp;•</a></li>
        <li><a href="#portfolio" class="page-scroll">Equipment&nbsp;&nbsp;&nbsp;•</a></li>
        <li><a href="#team" class="page-scroll">Contact&nbsp;&nbsp;&nbsp;•</a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- Header -->
<header id="header">
  <div class="intro">
    <div class="overlay">
      <div class="container">
        <div class="row">
          <div class="intro-text">
            <h1>College of Social<br>
              Communication Innovation</h1><hr>
            <p>ระบบยืมคืนอุปกรณ์ครุภัณฑ์ของวิยาลัยนวัตกรรมสื่อสารสังคม</p>
            <a href="#about" class="btn btn-custom btn-lg page-scroll">เริ่มการยืม</a></div>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- About Section -->
<div id="about">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="about-img"><img src="/bg-index-2.jpeg" class="img-responsive" alt=""></div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="about-text">
          <h2>ข้อตกลงในการยืมคืนอุปกรณ์ครุภัณฑ์</h2>
          <hr>
          <h3>1. ข้อตกลงทั่วไป</h3>
          <p>
            - คุณต้องเป็นนิสิตหรือบุคลากรในวิทยาลัยนวัตกรรมสื่อสารสังคม<br>
            - คุณต้องสมัครสมาชิกและเข้าสู่ระบบก่อน จึงจะสามารถดำเนินการยืมคืนอุปกรณ์ครุภัณฑ์ได้<br>
            - คุณต้องกรอกข้อมูลและรายละเอียดต่างๆ ให้ถูกต้องและครบถ้วน<br>
          </p>
          <h3>2. การยืมคืนอุปกรณ์</h3>
          <p>
            - นิสิตต้องทำรายการยืมอุปกรณ์ล่วงหน้าอย่างน้อย 3 วันทำการ<br>
            - นิสิตสามารถยืมอุปกรณ์ได้ไม่เกิน 5 วัน<br>
            - นิสิตต้องมารับอุปกรณ์ในวันเวลาที่นัดหมายไว้ พร้อมกับบัตรประจำตัวนิสิต<br>
            - นิสิตต้องนำอุปกรณ์มาคืนในวันเวลาที่นัดหมาย โดยเจ้าหน้าที่จะทำการตรวจสอบอุปกรณ์นั้นอย่างละเอียดต่อหน้านิสิต<br>
            - หากนิสิตนำอุปกรณ์มาคืน<b>ล่าช้า</b> นิสิตจะถูก<b>หักคะแนน</b><br>
            - หากอุปกรณ์<b>ชำรุด/เสียหาย/สูญหาย</b> นิสิตต้องเป็นผู้รับผิดชอบ<br>
            - การยืมคืนอุปกรณ์<b>ต้องอยู่ในช่วงเวลาทำการ</b> (วันจันทร์-ศุกร์ เวลา 08:30น. - 16:30น. ยกเว้นวันหยุดนักขัตฤกษ์)<br>
            - หลังจากคืนอุปกรณ์แล้ว ขอความร่วมมือตอบแบบประเมินความพึงพอใจในการบริการ เพื่อใช้เป็นข้อมูลสำหรับปรับปรุงและพัฒนาการให้บริการต่อไป<br>
          </p>
          <a href="/login" class="btn btn-custom">ยอมรับข้อตกลงเพื่อเข้าสู่ระบบ</a></div>
        </div>
      </div>
    </div>
</div>

<!-- Portfolio Section -->
<div id="portfolio">
  <div class="section-title text-center center">
    <div class="overlay">
      <h2>EQUIPMENT</h2>
      <hr>
      <p>อุปกรณ์ครุภัณฑ์ทั้งหมดของวิทยาลัยนวัตกรรมสื่อสารสังคม</p>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="categories">
        <ul class="cat">
          <li>
            <ol class="type">
              <li><a href="#" data-filter="*" class="active">All</a></li>
              <li><a href="#" data-filter=".camera">CAMERA</a></li>
              <li><a href="#" data-filter=".assessory">ACCESSORY</a></li>
              <li><a href="#" data-filter=".device">DEVICE</a></li>
            </ol>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="row">
      <div class="portfolio-items">
        <% if (sets.length > 0) {%>
          <% sets.forEach((value, index) => { %>
          <div class="col-xs-6 col-md-3 col-lg-3 <%= value.set_category %>">
            <div class="portfolio-item">
              <div class="hover-bg"> 
                <a href="/equip/<%=value.set_id%>" title="<%= value.set_name %>">
                  <div class="hover-text">
                    <h4>MORE</h4>
                  </div>
                  <img src="/portfolio/<%= value.set_pic %>" class="img-responsive" alt="<%= value.set_name %>">
                </a>
              </div>
            </div>
          </div>
          <% }) %>
        <% } %>

      </div>
    </div>
  </div>
</div>

<!-- Team Section -->
<div id="team" class="text-center">
  <div class="overlay">
    <div class="container">
      <div class="col-md-10 col-md-offset-1 section-title">
        <h2>CONTACT</h2>
        <hr>
        <p>อาคารวิทยาลัยนวัตกรรมสื่อสารสังคม (ริมน้ำ) ศูนย์บริการนิสิต ชั้น 15</p>
        <p>วันจันทร์-ศุกร์: 08:30น. - 16:30น.</p>
      </div>
      <div id="row">
        <div class="col-md-6 team" style="border-right: solid white;">
          <div class="thumbnail">
            <h3 style="font-size: 24px; line-height: 35px; margin-top: -30px;">
              ติดต่อเจ้าหน้าที่ฝ่ายบริการสื่อ<br>การยืมคืนอุปกรณ์ครุภัณฑ์ภาพยนตร์
            </h3>
            <div class="caption">
              <h3 style="margin-bottom: 15px;">
                นายณภัทร สุบรรณพงษ์ (พี่มิค)
              </h3>
              <p>โทร: 084-137-3731 หรือ 02-649-5000 ต่อ 11271</p>
              <p>Email :	napatsu@hotmail.com</p>
              <p>(ในวันเวลาราชการ 08:30น. - 16:30น.)</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 team">
          <div class="thumbnail">
            <h3 style="font-size: 24px; line-height: 35px; margin-top: -30px;">
              ติดต่อเจ้าหน้าที่ฝ่ายบริการสื่อ<br>การยืมคืนอุปกรณ์ครุภัณฑ์คอมพิวเตอร์
            </h3>
            <div class="caption">
                <h3 style="margin-bottom: 15px;">
                  นายนิธิธัช จุลมกร (พี่กัน)
                </h3>
                <p>โทร: 085-048-8813 หรือ 02-649-5000 ต่อ 11271</p>
                <p>Email :	gun.024580185@gmail.com</p>
                <p>(ในวันเวลาราชการ 08:30น. - 16:30น.)</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="footer">
  <div class="container-fluid text-center copyrights">
    <div class="col-md-8 col-md-offset-2">
      <div class="social">
        <ul>
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
        </ul>
      </div>
      <p>&copy; COLLEGE OF SOCIAL COMMUNICATION INNOVATION.ALL RIGHTS RESERVED<br><br>
        TEL. 02-649-5000 EXT 11275 , 02-259-2343 EMAIL. PRCOSCISWU@GMAIL.COM
      </p>
    </div>
  </div>
</div>
<script type="text/javascript" src="/jquery.1.11.1.js"></script> 
<script type="text/javascript" src="/bootstrap.js"></script> 
<script type="text/javascript" src="/jquery.isotope.js"></script> 
<script type="text/javascript" src="/main.js"></script>
</body>
</html>
