<!DOCTYPE html>
<html lang="en">
  
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>COSCI - ระบบยืมคืนอุปกรณ์ครุภัณฑ์</title>
<meta name="description" content="">
<meta name="author" content="">

<!-- =============== Bootstrap =============== -->
<link rel="stylesheet" type="text/css"  href="/bootstrap.css">

<!-- =============== Stylesheet =============== -->
<link rel="stylesheet" type="text/css"  href="/style.css">
<link rel="stylesheet" type="text/css"  href="/userStyle.css">
<link rel="stylesheet" type="text/css"  href="/borrowStyle.css">
<link rel="stylesheet" type="text/css"  href="/profileStyle.css">
<link rel="stylesheet" type="text/css"  href="/fontface.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Kanit:200,300,400,500,600,700&amp;subset=thai" rel="stylesheet">

</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<!-- =============== Navigation =============== -->
<nav id="menu" class="navbar navbar-default navbar-fixed-top">
  <div class="container"> 
    <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span><span class="icon-bar"></span> <span class="icon-bar"></span> 
        </button>
        <a class="navbar-brand page-scroll" href="#">
          <img class="logo-header" src="/cosciLogo.png">
        </a>
      </div>
          
    <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/student/<%=usn%>" class="page-scroll">HOME&nbsp;&nbsp;&nbsp;•</a></li>
          <li><a href="/user_student/<%=usn%>/select/equipment" class="page-scroll">Equipment&nbsp;&nbsp;&nbsp;•</a></li>
          <li><a href="/user/logout" class="page-scroll">LOGOUT&nbsp;&nbsp;&nbsp;<i class="fa fa-sign-out"></i>&nbsp;</a></li>
          <li class="user-tag">
            <a href="#" id="user-tag-a">
              <i class="fa fa-user"></i>&nbsp;&nbsp;ID : <%= datas.mem_id %>&nbsp;&nbsp;
              <br>
              <i class="fa fa-clock-o"></i>&nbsp;&nbsp;DATE : <%= todays %>
              <div class="img-user"><img src="/user/<%= datas.mem_pic %>"></div>
            </a>
          </li>
        </ul>
      </div>
  </div>
</nav>

<div id="portfolio">
  <div class="section-profile-title">
    <div class="overlay">
      <div class="container">
        <div class="row">
          <br><br><br><br>
          <div class="user-text">
            <h2>สวัสดี, <%= datas.stu_name %></h2>
            <hr>
          </div>

          <div class="container">
            <div class="row" id="user-profile">
              <div class="col-lg-3 col-md-4 col-sm-4">
                <div class="main-box clearfix">
                    <img src="/user/<%= datas.mem_pic %>" alt="" class="profile-img img-responsive center-block">
                
                    <div class="profile-details">
                      <ul class="fa-ul">
                        <li>
                          <i class="fa-li fa fa-user"></i>
                          ชื่อผู้ใช้ : <span><%= datas.mem_username%></span>
                        </li>
                      </ul>
                    </div>
                </div>
              </div>
                
              <div class="col-lg-9 col-md-8 col-sm-8">
                <div class="main-box clearfix">
                  <div class="profile-header">
                    <h3><span>ข้อมูลส่วนตัว</span></h3>
                    <div class="edit">
                      <div class="dropdown edit-profile">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                          <i class="fa fa-gear"></i>
                        </button>
                        <ul class="dropdown-menu pull-right">
                          <li><a href="/user_student/<%=usn%>/profile/edit-info">แก้ไขข้อมูลส่วนตัว</a></li>
                          <li><a href="/user_student/<%=usn%>/profile/edit-pass">เปลี่ยนรหัสผ่าน</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                
                  <div class="row profile-user-info">
                    <div class="col-sm-12 col-lg-5 col-md-12">
                      <div class="profile-user-details clearfix">
                        <div class="profile-user-details-label">รหัสนิสิต</div>
                        <div class="profile-user-details-value">
                            : <%= datas.mem_id%>
                        </div>
                      </div>
                                        
                      <div class="profile-user-details clearfix">
                        <div class="profile-user-details-label">ชื่อ-นามสกุล</div>
                        <div class="profile-user-details-value">
                            : <%= datas.stu_name%>
                        </div>
                      </div>
                                        
                      <div class="profile-user-details clearfix">
                        <div class="profile-user-details-label">อีเมล</div>
                        <div class="profile-user-details-value">
                            : <%= datas.mem_email%>
                        </div>
                      </div>
                                        
                      <div class="profile-user-details clearfix">
                        <div class="profile-user-details-label">เบอร์โทรศัพท์</div>
                        <div class="profile-user-details-value">
                            : <%= datas.mem_phone%>
                        </div>
                      </div>
                    </div>
                                    
                    <div class="col-sm-12 col-lg-7 col-md-12 profile-social">
                      <div class="profile-user-details clearfix">
                        <div class="profile-user-details-label">ปีที่เข้าศึกษา</div>
                        <div class="profile-user-details-value">
                            : <%= datas.stu_year_admission%>
                        </div>
                      </div>
                                            
                      <div class="profile-user-details clearfix">
                        <div class="profile-user-details-label">วิชาเอก</div>
                        <div class="profile-user-details-value">
                            : <%= datas.maj_th_name%>
                        </div>
                      </div>
                    </div>
                  </div>
                
                  <div class="tabs-wrapper profile-tabs">
                    <ul class="nav nav-tabs">
                      <li class="active">
                        <a href="#tab-borrow" data-toggle="tab">
                          รายการยืม-คืนปัจจุบัน
                        </a>
                      </li>
                      <li><a href="#tab-history" data-toggle="tab">
                        ประวัติการยืม-คืน</a>
                      </li>
                    </ul>
                    
                    
                    <div class="tab-content">
                      <!-- ===== borrow history ===== -->
                      <div class="tab-pane fade" id="tab-history">
                        <div class="table-responsive">
                          <% if (borrowHis.length > 0) { %>
                            <% for (a=0; a<(borrowHis.length / 10) ;a++) { %>
                              <div class="d<%=a%>" style="width: 100%;">
                                <table class="table">
                                  <tbody>
                                      <% let i=(a*10); %>
                                      <% while (i < (borrowHis.length) && i < ((a+1)*10)) { %>
                                        <tr>
                                          <% if (borrowHis[i].bor_status == "d") { %>
                                            <!-- === Device Returned === -->
                                            <td class="text-center">
                                              <i class="fa fa-check"></i>
                                            </td>
                                            <td>
                                              ทำการยืม-คืน <a> <%= borrowHis[i].set_name %> </a> เสร็จสมบูรณ์แล้ว
                                            </td>
                                            <td>
                                              <%= borrowHis[i].bor_return_date %> &nbsp; <%= borrowHis[i].bor_return_time %>
                                            </td>
                                          <% } else if (borrowHis[i].bor_status == "x") { %>
                                            <!-- === Not Approve === -->
                                            <td class="text-center">
                                              <i class="fa fa-times"></i>
                                            </td>
                                            <td>
                                              ไม่อนุมัติการยืม <a> <%= borrowHis[i].set_name %> </a> <br>
                                              <span style="font-size: 10px;">
                                                <%= borrowHis[i].bor_note %>
                                              </span>
                                            </td>
                                            <td>
                                              <%= borrowHis[i].bor_date %> &nbsp; <%= borrowHis[i].bor_time %>
                                            </td>
                                          <% } else if (borrowHis[i].bor_status == "r" || borrowHis[i].bor_status == "n") { %>
                                            <!-- คืนของล่าช้า -->
                                            <td class="text-center">
                                              <i class="fa fa-exclamation-triangle"></i>
                                            </td>
                                            <td>
                                              ยังไม่คืน <a> <%= borrowHis[i].set_name %> </a> (เลยกำหนดแล้ว <%= borrowHis[i].overdue %> วัน)
                                            </td>
                                            <td>
                                              <%= borrowHis[i].bor_return_date %> &nbsp; <%= borrowHis[i].bor_return_time %>
                                            </td>
                                          <% } else { %>
                                            <br><br>
                                            <p style="text-align: center;">
                                              ไม่พบประวัติการยืม-คืน
                                            </p>
                                          <% } %>
                                        </tr>
                                        <% i++ %>
                                      <% } %>
                                  </tbody>
                                </table>

                                <div class="number-his">
                                  <button class="back"> << </button>
                                  <span>
                                    หน้า <%= a+1 %> / <%= Math.ceil(borrowHis.length / 10) %>
                                  </span>
                                  <button class="next"> >> </button>
                                </div>
                              </div>
                            <% } %>
                          <% } else { %>
                            <br><br>
                            <p style="text-align: center;">
                              ไม่พบประวัติการยืม-คืน
                            </p>
                          <% } %>
                        </div>
                      </div>
                
                      <!-- ===== การยืมคืนปัจจุบัน borrow cercent ===== -->
                      <div class="tab-pane fade in active" id="tab-borrow">
                        <% if (borrowNow.length > 0) {%>
                          <% for (b=0; b<(borrowNow.length / 4) ;b++) { %>
                            <div class="dd<%=b%>" style="width: 100%;">
                              <% let j=(b*4); %>
                              <% while (j < (borrowNow.length) && j < ((b+1)*4)) { %>
                                <% if (borrowNow[j].bor_status == "p") { %>
                                  <!-- === รออนุมัติ - Pending Approval === -->
                                  <ul class="widget-users row">
                                    <li class="col-md-6">
                                      <div class="img">
                                        <img src="/portfolio/<%=borrowNow[j].set_pic%>">
                                      </div>
                                      <div class="details">
                                        <div>
                                          <a href="#" data-toggle="modal" data-target="#exampleModalCenter3<%= j+1 %>">
                                            <%= borrowNow[j].set_name %>
                                          </a>
                                        </div>
                                        <div class="time">
                                          <i class="fa fa-clock-o"></i> 
                                          วันที่ทำรายการ : <%= borrowNow[j].bor_book_date %> <%= borrowNow[j].bor_book_time %>
                                        </div>
                                        <div class="type">
                                          <span class="label label-wait" data-toggle="tooltip" data-placement="right" data-html="true" 
                                          title="แอดมินกำลังตรวจสอบอุปกรณ์<br>โดยจะใช้เวลาประมาณ 2-3 วัน<br>โปรดเข้ามาเช็คสถานะอีกครั้ง">
                                            รอตรวจสอบ
                                          </span>
                                        </div>
                                      </div>
                                    </li>
                                  </ul>
                                <% } else if (borrowNow[j].bor_status == "a") { %>
                                  <!-- === อนุมัติแล้ว/รอรับอุปกรณ์ - Approve === -->
                                  <ul class="widget-users row">
                                    <li class="col-md-6">
                                      <div class="img">
                                        <img src="/portfolio/<%=borrowNow[j].set_pic%>">
                                      </div>
                                      <div class="details">
                                        <div>
                                          <a href="#" data-toggle="modal" data-target="#exampleModalCenter2<%= j+1 %>">
                                            <%=borrowNow[j].set_name%>
                                          </a>
                                        </div>
                                          <div class="time">
                                            <i class="fa fa-clock-o"></i> 
                                            วันที่รับอุปกรณ์ : <%= borrowNow[j].bor_date %> <%= borrowNow[j].bor_time %> <br>
                                          </div>
                                          <div class="type">
                                            <span class="label label-confirm" data-toggle="tooltip" data-placement="right" data-html="true" 
                                            title="อุปกรณ์ของคุณถูกจัดเตรียมแล้ว<br>รับอุปกรณ์ได้ตามวันและเวลาที่ได้<br>ทำการนัดหมายไว้">
                                              เตรียมรับอุปกรณ์
                                            </span>
                                          </div>
                                      </div>
                                    </li>
                                  </ul>
                                <% } else if (borrowNow[j].bor_status == "r") { %>
                                  <!-- ได้รับอุปกรณ์แล้ว/เตรียมคืนอุปกรณ์ - Device Received -->
                                  <ul class="widget-users row">
                                    <li class="col-md-6">
                                      <div class="img">
                                        <img src="/portfolio/<%=borrowNow[j].set_pic%>">
                                      </div>
                                      <div class="details">
                                        <div class="equip-name">
                                          <a href="#" data-toggle="modal" data-target="#exampleModalCenter1<%= j+1 %>">
                                            <%=borrowNow[j].set_name%>
                                          </a>
                                        </div>
                                        <div class="time">
                                          <i class="fa fa-clock-o"></i> 
                                          วันที่คืนอุปกรณ์ : <%= borrowNow[j].bor_return_date %> <%= borrowNow[j].bor_return_time %>
                                        </div>
                                        <div class="type">
                                          <span class="label label-success" data-toggle="tooltip" data-placement="right" data-html="true" 
                                          title="โปรดส่งคืนอุปกรณ์ให้ตรงตามวันและเวลาที่นัดหมายไว้">
                                            เตรียมคืนอุปกรณ์
                                          </span>
                                        </div>
                                      </div>
                                    </li>       
                                  </ul>
                                <% } else if (borrowNow[j].bor_status == "x") { %>
                                  <!-- ไม่อนุมัติ - Not Approve -->
                                  <ul class="widget-users row">
                                    <li class="col-md-6">
                                      <div class="img">
                                        <img src="/portfolio/<%=borrowNow[j].set_pic%>">
                                      </div>
                                      <div class="details">
                                        <div>
                                          <a href="#" data-toggle="modal" data-target="#exampleModalCenter4<%= j+1 %>">
                                            <%= borrowNow[j].set_name %>
                                          </a>
                                        </div>
                                        <div class="time">
                                          <i class="fa fa-clock-o"></i> 
                                          วันที่ทำรายการ : <%= borrowNow[j].bor_book_date %> <%= borrowNow[j].bor_book_time %>
                                        </div>
                                        <div class="type">
                                          <span class="label label-not-approve" data-toggle="tooltip" data-placement="right" data-html="true" 
                                          title="ไม่สามารถยืมอุปกรณ์ที่ทำรายการนี้ได้<br>เนื่องจากเหตุผลบางอย่าง">
                                            ไม่อนุมัติ
                                          </span>
                                        </div>
                                      </div>
                                    </li>
                                  </ul>
                                <% } else { %>
                                  <br><br>
                                  <p style="text-align: center;">
                                    ไม่พบรายการยืม-คืนปัจจุบัน
                                  </p>
                                <% } %>
                                <% j++ %>
                              <% } %>

                              <div class="number-his">
                                <button class="back2"> << </button>
                                <span>
                                  หน้า <%= b+1 %> / <%= Math.ceil(borrowNow.length / 4) %>
                                </span>
                                <button class="next2"> >> </button>
                              </div>
                            </div>
                          <% } %>
                        <% } else { %>
                          <br><br>
                          <p style="text-align: center;">
                            ไม่พบรายการยืม-คืนปัจจุบัน
                          </p>
                        <% } %>
                        
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ======= Model - รายละเอียดรายการยืม ======= -->
<!-- ===== คืนอุปกรณ์ ===== -->
<% for(m1 = 0; m1<(borrowNow.length); m1++) { %>
  <div class="modal fade" id="exampleModalCenter1<%= m1+1 %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">
            สถานะ&nbsp;&nbsp;
            <span class="label label-success">
              เตรียมคืนอุปกรณ์
            </span>
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">
              <div style="margin-top: -22px;">&times;</div>
            </span>
          </button>
        </div>

        <div class="modal-body" id="model1<%= m1+1 %>">
          <div class="container-fluid">
            <div class="row">
              <div class="col-xs-12 col-md-12 col-lg-12" style="font-size: 12px;">
                <h3><div class="box"></div>
                  ใบยืมคืนอุปกรณ์ครุภัณฑ์
                </h3>
                <h5 style="color: #333; font-size: 14px;">
                  วันและเวลาในการยืม
                </h5>  
                <hr style="margin-top: -5px;">
                <div class="col-xs-6 col-md-6 col-lg-6">
                  <div style="margin-top: -25px; line-height: 30px;">
                    <b>วันที่ทำรายการ : </b> <%= borrowNow[m1].bor_book_date %> <br>
                    <b>วันที่รับของ : </b> <%= borrowNow[m1].bor_date %> <br>
                    <b>วันที่คืนของ : </b> <%= borrowNow[m1].bor_return_date %> <br>
                  </div>
                </div>
                <div class="col-xs-6 col-md-6 col-lg-6" style="margin-bottom: 20px;">
                  <div style="margin-top: -25px; line-height: 30px;">
                    <b>เวลา : </b> <%= borrowNow[m1].bor_book_time %> <br>
                    <b>เวลา : </b> <%= borrowNow[m1].bor_time %> <br>
                    <b>เวลา : </b> <%= borrowNow[m1].bor_return_time %> <br>
                  </div>
                </div>
                <h5 style="color: #333; font-size: 14px;">
                  รายการอุปกรณ์
                </h5>  
                <hr style="margin-top: -5px;">
                <div class="col-xs-6 col-md-6 col-lg-6" style="margin-top: -25px; line-height: 30px;">
                  <div class="portfolio-item image_p">
                    <img src="/portfolio/<%= borrowNow[m1].set_pic %>" class="img-responsive">
                  </div>
                </div>
                  
                <div class="col-xs-6 col-md-6 col-lg-6" style="margin-top: -25px; line-height: 30px;">
                  <div style="padding-top: 10px;">
                    <% if (allBorrows[m1][0][0].set_can_borrow == 'o') { %>
                      <b><input type="checkbox" checked readonly>
                        &nbsp; <%= borrowNow[m1].set_name %>
                      </b><br>
                    <% } else { %>
                      <% allBorrows[m1].forEach((v, i) => { %>
                        <% if (v[0].type_can_borrow == 'o') { %>
                          <b><input type="checkbox" checked readonly>
                            &nbsp; <%= v[0].type_name %>
                          </b><br>
                        <% } else { %>
                          <b><input type="checkbox" checked readonly>
                            &nbsp; <%= v[0].equip_name %>
                          </b><br>
                        <% } %>
                      <% }) %>
                    <% } %>        
                  </div>
                </div>
                  
                <div class="col-xs-12 col-md-12 col-lg-12">
                  <table class="table">
                    <thead>
                    <% var n = 0 %>
                    <% allBorrows[m1].forEach((v, i) => { %>
                      <tr>
                        <th> <%= n = n + 1 %> </th>
                        <th>
                          <%= v[0].type_name %>
                        </th>
                        <th>จำนวน</th>
                      </tr>
                    </thead>
                    <tbody>
                     <% v.forEach((vv, ii) => { %>
                      <tr>
                        <td></td>
                        <td> <%= vv.equip_name %> </td>
                        <td> <%= vv.bor_equip_amount %> </td>
                      </tr>
                     <% }) %>
                    <% }) %>
                    </tbody>
                  </table>
                </div>

                  <br>

                <div class="col-xs-12 col-md-12 col-lg-12">
                  <h5 style="color: #333; font-size: 14px; margin-left: -14px;">
                    รายละเอียดผู้ยืม
                  </h5>  
                  <hr style="margin-top: -5px; margin-left: -14px;">
                  <div style="margin-top: -25px; line-height: 30px;">
                    <b>ชื่อ-นามสกุล : </b> <%= datas.stu_name %> <br>
                    <b>รหัสนิสิต : </b> <%= datas.mem_id %> <br>
                    <b>เบอร์โทรติดต่อ1 : </b> <%= borrowNow[m1].bor_phone1 %> <br>
                    <b>เบอร์โทรติดต่อ2 : </b> <%= borrowNow[m1].bor_phone2 %> <br>
                      <b>รายวิชา : </b> <%= borrowNow[m1].bor_subject %> <br>
                      <b>วัตถุประสงค์​ : </b><br>
                      <textarea disabled cols="24" rows="3"><%= borrowNow[m1].bor_object %></textarea><br>
                  </div>
                </div>
                            
                <div class="col-xs-12 col-md-12 col-lg-12">
                  <h5 style="color: #333; font-size: 14px; margin-left: -14px;">
                    ผู้รับผิดชอบ
                  </h5>  
                  <hr style="margin-top: -5px; margin-left: -14px;">
                  <div style="margin-top: -25px; line-height: 30px;">
                    <b>ลงชื่อผู้ยืม : </b> <%= datas.stu_name %> <br>
                    <b>อาจารย์ประจำวิชา : </b> <%= borrowNow[m1].bor_sub_prof %> <br>
                    <b>ผู้จัดเตรียม/ผู้ดูแลอุปกรณ์ : </b> <%= borrowNow[m1].staff_name %> <br><br>
                  </div>
                </div>

                <div class="col-xs-12 col-md-12 col-lg-12">
                  <hr class="under_hr">
                  <h5 style="color: #333; font-size: 14px; margin-left: -14px; margin-top: 15px;">
                    <div style="margin-top: -20px; margin-left: 15px; line-height: 30px;">
                      <i class="fa fa-star" style="color:red"></i>
                      <b style="color: red;">
                        อุปกรณ์ยังอยู่กับคุณ
                      </b> <br>
                      หมายเหตุ: &nbsp;&nbsp;
                      <%= borrowNow[m1].bor_note %>
                      <input id="dd1" value="<%= borrowNow[m1].bor_return_date %>" hidden>
                      <input id="tt1" value="<%= borrowNow[m1].bor_return_time %>" hidden>
                    </div>
                  </h5>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-primary" onclick="printDiv('model1<%= m1+1 %>')">
            <i class="fa fa-print"></i>
          </button>
          <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModalCenter1-1<%= m1+1 %>">
            คืนอุปกรณ์
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- ===== ยืนยัน ===== -->
  <div class="modal fade" id="exampleModalCenter1-1<%= m1+1 %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="padding: 20px;">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">
            คืนอุปกรณ์
          </h5>
          <button class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"><div style="margin-top: -22px;">&times;</div></span>
          </button>
        </div>
        <div class="modal-body" style="height: 100px;">
          <div class="container-fluid">
            ตรวจสอบอุปกรณ์ที่ได้ยืมไป ณ วันที่เดินทางไปคืนอุปกรณ์ <b>กดยืนยันต่อหน้าเจ้าหน้าที่เท่านั้น</b>
            เพื่อยืนยันว่าได้คืนอุปกรณ์ทั้งหมดตามที่ทำรายการยืมไว้ครบถ้วน
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn" style="border-bottom: transparent;" data-dismiss="modal">
            ยกเลิก
          </button>
          <button id="m1sub" class="btn btn-danger">
            <a href="/equipGR/<%=borrowNow[m1].bor_id%>/<%=usn%>/d" style="color: white;">
              ยืนยัน
            </a>
          </button>
        </div>
      </div>
    </div>
  </div>
<% } %>

<!-- ===== อนุมัติแล้ว/เตรียมรับอุปกรณ์ ===== -->
<% for(m2 = 0; m2<(borrowNow.length); m2++) { %>
  <div class="modal fade" id="exampleModalCenter2<%= m2+1 %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">
            สถานะ&nbsp;&nbsp;
            <span class="label label-confirm">
              เตรียมรับอุปกรณ์
            </span>
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"><div style="margin-top: -22px;">&times;</div></span>
          </button>
        </div>

        <div class="modal-body" id="model2<%= m2+1 %>">
          <div class="container-fluid">
            <div class="row">
              <div class="col-xs-12 col-md-12 col-lg-12" style="font-size: 12px;">
                <h3><div class="box"></div>
                  ใบยืมคืนอุปกรณ์ครุภัณฑ์
                </h3>
                <h5 style="color: #333; font-size: 14px;">
                  วันและเวลาในการยืม
                </h5>  
                <hr style="margin-top: -5px;">
                <div class="col-xs-6 col-md-6 col-lg-6">
                  <div style="margin-top: -25px; line-height: 30px;">
                    <b>วันที่ทำรายการ : </b> <%= borrowNow[m2].bor_book_date %> <br>
                    <b>วันที่รับของ : </b> <%= borrowNow[m2].bor_date %> <br>
                    <b>วันที่คืนของ : </b> <%= borrowNow[m2].bor_return_date %> <br>
                  </div>
                </div>
                <div class="col-xs-6 col-md-6 col-lg-6" style="margin-bottom: 20px;">
                  <div style="margin-top: -25px; line-height: 30px;">
                    <b>เวลา : </b> <%= borrowNow[m2].bor_book_time %> <br>
                    <b>เวลา : </b> <%= borrowNow[m2].bor_time %> <br>
                    <b>เวลา : </b> <%= borrowNow[m2].bor_return_time %> <br>
                  </div>
                </div>
                  
                <h5 style="color: #333; font-size: 14px;">
                  รายการอุปกรณ์
                </h5>  
                <hr style="margin-top: -5px;">
                <div class="col-xs-6 col-md-6 col-lg-6" style="margin-top: -25px; line-height: 30px;">
                  <div class="portfolio-item image_p">
                    <img src="/portfolio/<%= borrowNow[m2].set_pic %>" class="img-responsive">
                  </div>
                </div>

                <div class="col-xs-6 col-md-6 col-lg-6" style="margin-top: -25px; line-height: 30px;">
                  <div style="padding-top: 10px;">
                    <% if (allBorrows[m2][0][0].set_can_borrow == 'o') { %>
                      <b>
                        <input type="checkbox" checked readonly>
                        &nbsp; <%= borrowNow[m2].set_name %>
                      </b><br>
                    <% } else { %>
                      <% allBorrows[m2].forEach((v, i) => { %>
                        <% if (v[0].type_can_borrow == 'o') { %>
                        <b><input type="checkbox" checked readonly>
                          &nbsp; <%= v[0].type_name %>
                        </b><br>
                        <% } else { %>
                        <b><input type="checkbox" checked readonly>
                          &nbsp; <%= v[0].equip_name %>
                        </b><br>
                        <% } %>
                      <% }) %>
                    <% } %>
                  </div>
                </div>
                  
                <div class="col-xs-12 col-md-12 col-lg-12">
                  <table class="table">
                    <thead>
                      <% var n = 0 %>
                      <% allBorrows[m2].forEach((v, i) => { %>
                        <tr>
                          <th> <%= n = n + 1 %> </th>
                          <th>
                            <%= v[0].type_name %>
                          </th>
                          <th>จำนวน</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% v.forEach((vv, ii) => { %>
                        <tr>
                          <td></td>
                          <td> <%= vv.equip_name %> </td>
                          <td> <%= vv.bor_equip_amount %> </td>
                        </tr>
                        <% }) %>
                      <% }) %>
                    </tbody>
                  </table>
                </div>
                
                <br>

                <div class="col-xs-12 col-md-12 col-lg-12">
                  <h5 style="color: #333; font-size: 14px; margin-left: -14px;">
                    รายละเอียดผู้ยืม
                  </h5>
                  <hr style="margin-top: -5px; margin-left: -14px;">
                  <div style="margin-top: -25px; line-height: 30px;">
                    <b>ชื่อ-นามสกุล : </b> <%= datas.stu_name %> <br>
                    <b>รหัสนิสิต : </b> <%= datas.mem_id %> <br>
                    <b>เบอร์โทรติดต่อ1 : </b> <%= borrowNow[m2].bor_phone1 %> <br>
                    <b>เบอร์โทรติดต่อ2 : </b> <%= borrowNow[m2].bor_phone2 %> <br>
                    <b>รายวิชา : </b> <%= borrowNow[m2].bor_subject %> <br>
                    <b>วัตถุประสงค์​ : </b><br>
                    <textarea disabled cols="24" rows="3"><%= borrowNow[m2].bor_object %></textarea><br>
                  </div>
                </div>

                <div class="col-xs-12 col-md-12 col-lg-12">
                  <h5 style="color: #333; font-size: 14px; margin-left: -14px;">
                    ผู้รับผิดชอบ
                  </h5>
                  <hr style="margin-top: -5px; margin-left: -14px;">
                  <div style="margin-top: -25px; line-height: 30px;">
                    <b>ลงชื่อผู้ยืม : </b> <%= datas.stu_name %> <br>
                    <b>อาจารย์ประจำวิชา : </b> <%= borrowNow[m2].bor_sub_prof %> <br>
                    <b>ผู้จัดเตรียม/ผู้ดูแลอุปกรณ์ : </b> <%= borrowNow[m2].staff_name %> <br><br>
                  </div>
                </div>

                <div class="col-xs-12 col-md-12 col-lg-12">
                  <hr class="under_hr">
                  <h5 style="color: #333; font-size: 14px; margin-left: -14px; margin-top: 15px;">
                    <div style="margin-top: -20px; margin-left: 15px; line-height: 30px;">
                      <i class="fa fa-check-square-o" style="color:red"></i>
                      <b style="color: red;">
                        อนุมัติ
                      </b> <br>
                      หมายเหตุ: &nbsp;&nbsp;
                      <%= borrowNow[m2].bor_note %>
                      <input id="dd2" value="<%= borrowNow[m2].bor_date %>" hidden>
                      <input id="tt2" value="<%= borrowNow[m2].bor_time %>" hidden>
                    </div>
                  </h5>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-primary" onclick="printDiv('model2<%= m2+1 %>')">
            <i class="fa fa-print"></i>
          </button>
          <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModalCenter2-2<%= m2+1 %>">
            ตรวจสอบและรับอุปกรณ์
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- ===== ยืนยัน ===== -->
  <div class="modal fade" id="exampleModalCenter2-2<%= m2+1 %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="padding: 20px;">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">
            ตรวจสอบอุปกรณ์
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"><div style="margin-top: -22px;">&times;</div></span>
          </button>
        </div>
        <div class="modal-body" style="height: 100px;">
          <div class="container-fluid">
            ตรวจสอบอุปกรณ์ที่ได้รับ ณ วันที่เดินทางไปรับอุปกรณ์ <b>กดยืนยันต่อหน้าเจ้าหน้าที่เท่านั้น</b>
            เพื่อยืนยันว่าได้รับอุปกรณ์ทั้งหมดตามที่แจ้งไว้ครบถ้วน
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn" style="border-bottom: transparent;" data-dismiss="modal">
            ยกเลิก
          </button>
          <button id="m2sub" class="btn btn-danger" disabled>
            <a href="/equipGR/<%=borrowNow[m2].bor_id%>/<%=usn%>/r" style="color: white;">
              ยืนยัน
            </a>
          </button>
        </div>
      </div>
    </div>
  </div>
<% } %>


<!-- ===== รอตรวจสอบ/รออนุมัติ ===== -->
<% for(m3 = 0; m3<(borrowNow.length); m3++) { %>
  <div class="modal fade" id="exampleModalCenter3<%= m3+1 %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">
            สถานะ&nbsp;&nbsp;
            <span class="label label-wait">รอตรวจสอบ</span>
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">
              <div style="margin-top: -22px;">&times;</div>
            </span>
          </button>
        </div>
              
        <div class="modal-body" id="model3<%= m3+1 %>">
          <div class="container-fluid">
            <div class="row">
              <div class="col-xs-12 col-md-12 col-lg-12" style="font-size: 12px;">
                <h3><div class="box"></div>
                  ใบยืมคืนอุปกรณ์ครุภัณฑ์
                </h3>
                <h5 style="color: #333; font-size: 14px;">
                  วันและเวลาในการยืม
                </h5>  
                <hr style="margin-top: -5px;">
                <div class="col-xs-6 col-md-6 col-lg-6">
                  <div style="margin-top: -25px; line-height: 30px;">
                    <b>วันที่ทำรายการ : </b> <%= borrowNow[m3].bor_book_date %> <br>
                    <b>วันที่รับของ : </b> <%= borrowNow[m3].bor_date %> <br>
                    <b>วันที่คืนของ : </b> <%= borrowNow[m3].bor_return_date %> <br>
                  </div>
                </div>
                <div class="col-xs-6 col-md-6 col-lg-6" style="margin-bottom: 20px;">
                  <div style="margin-top: -25px; line-height: 30px;">
                    <b>เวลา : </b> <%= borrowNow[m3].bor_book_time %> <br>
                    <b>เวลา : </b> <%= borrowNow[m3].bor_time %> <br>
                    <b>เวลา : </b> <%= borrowNow[m3].bor_return_time %> <br>
                  </div>
                </div>
                  
                <h5 style="color: #333; font-size: 14px;">
                  รายการอุปกรณ์
                </h5>  
                <hr style="margin-top: -5px;">
                <div class="col-xs-6 col-md-6 col-lg-6" style="margin-top: -25px; line-height: 30px;">
                  <div class="portfolio-item image_p">
                    <img src="/portfolio/<%= borrowNow[m3].set_pic %>" class="img-responsive">
                  </div>
                </div>

                <div class="col-xs-6 col-md-6 col-lg-6" style="margin-top: -25px; line-height: 30px;">
                  <div style="padding-top: 10px;">
                    <% if (allBorrows[m3][0][0].set_can_borrow == 'o') { %>
                      <b><input type="checkbox" checked readonly>
                        &nbsp; <%= borrowNow[m3].set_name %>
                      </b><br>
                    <% } else { %>
                      <% allBorrows[m3].forEach((v, i) => { %>
                        <% if (v[0].type_can_borrow == 'o') { %>
                          <b><input type="checkbox" checked readonly>
                            &nbsp; <%= v[0].type_name %>
                          </b><br>
                        <% } else { %>
                          <b><input type="checkbox" checked readonly>
                            &nbsp; <%= v[0].equip_name %>
                          </b><br>
                        <% } %>
                      <% }) %>
                    <% } %>
                  </div>
                </div>
                  
                <div class="col-xs-12 col-md-12 col-lg-12">
                  <table class="table">
                    <thead>
                    <% var n = 0 %>
                    <% allBorrows[m3].forEach((v, i) => { %>
                      <tr>
                        <th scope="col"> <%= n = n + 1 %> </th>
                        <th scope="col">
                          <%= v[0].type_name %>
                        </th>
                        <th scope="col">จำนวน</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% v.forEach((vv, ii) => { %>
                      <tr>
                        <td scope="row"></td>
                        <td> <%= vv.equip_name %> </td>
                        <td> <%= vv.bor_equip_amount %> </td>
                      </tr>
                      <% }) %>
                    <% }) %>
                    </tbody>
                  </table>
                </div>
                  <br>
                <div class="col-xs-12 col-md-12 col-lg-12">
                  <h5 style="color: #333; font-size: 14px; margin-left: -14px;">
                    รายละเอียดผู้ยืม
                  </h5>  
                  <hr style="margin-top: -5px; margin-left: -14px;">
                  <div style="margin-top: -25px; line-height: 30px;">
                    <b>ชื่อ-นามสกุล : </b> <%= datas.stu_name %> <br>
                    <b>รหัสนิสิต : </b> <%= datas.mem_id %> <br>
                    <b>เบอร์โทรติดต่อ1 : </b> <%= borrowNow[m3].bor_phone1 %> <br>
                    <b>เบอร์โทรติดต่อ2 : </b> <%= borrowNow[m3].bor_phone2 %> <br>
                    <b>รายวิชา : </b> <%= borrowNow[m3].bor_subject %> <br>
                    <b>วัตถุประสงค์​ : </b><br>
                    <textarea disabled cols="24" rows="3"><%= borrowNow[m3].bor_object %></textarea><br>
                  </div>
                </div>
                  
                <div class="col-xs-12 col-md-12 col-lg-12">
                  <h5 style="color: #333; font-size: 14px; margin-left: -14px;">
                    ผู้รับผิดชอบ
                  </h5>  
                  <hr style="margin-top: -5px; margin-left: -14px;">
                  <div style="margin-top: -25px; line-height: 30px;">
                  <b>ลงชื่อผู้ยืม : </b> <%= datas.stu_name %> <br>
                  <b>อาจารย์ประจำวิชา : </b> <%= borrowNow[m3].bor_sub_prof %> <br>
                  <b>ผู้จัดเตรียม/ผู้ดูแลอุปกรณ์ : </b> <%= borrowNow[m3].staff_name %> <br><br>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-primary" onclick="printDiv('model3<%= m3+1 %>')">
            <i class="fa fa-print"></i>
          </button>
          <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModalCenter3-3<%= m3+1 %>">
            ยกเลิกการยืม
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- ===== ยืนยัน ===== -->
  <div class="modal fade" id="exampleModalCenter3-3<%= m3+1 %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="padding: 20px;">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">
            ยกเลิกการยืมอุปกรณ์
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">
              <div style="margin-top: -22px;">&times;</div>
            </span>
          </button>
        </div>
        <div class="modal-body" style="height: 70px;">
          <div class="container-fluid">
              หากต้องการยกเลิกการยืมอุปกรณ์ที่ได้ทำรายการไป 
              <b>กดยืนยันเพื่อยกเลิกการทำรายการ</b>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn" style="border-bottom: transparent;" data-dismiss="modal">
            ยกเลิก
          </button>
          <button type="button" class="btn btn-danger">
            <a href="/cancel/<%=borrowNow[m3].bor_id%>/<%=usn%>" style="color: white;">
              ยืนยัน
            </a>
          </button>
        </div>
      </div>
    </div>
  </div>
<% } %>

<!-- ===== ไม่อนุมัติ ===== -->
<% for(m4 = 0; m4<(borrowNow.length); m4++) { %>
  <div class="modal fade" id="exampleModalCenter4<%= m4+1 %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">
            สถานะ&nbsp;&nbsp;
            <span class="label label-not-approve">
              ไม่อนุมัติ
            </span>
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">
              <div style="margin-top: -22px;">&times;</div>
            </span>
          </button>
        </div>

        <div class="modal-body" id="model4<%= m4+1 %>">
          <div class="container-fluid">
            <div class="row">
              <div class="col-xs-12 col-md-12 col-lg-12" style="font-size: 12px;">
                <h3><div class="box"></div>
                  ใบยืมคืนอุปกรณ์ครุภัณฑ์
                </h3>
                <h5 style="color: #333; font-size: 14px;">
                  วันและเวลาในการยืม
                </h5>  
                <hr style="margin-top: -5px;">
                <div class="col-xs-6 col-md-6 col-lg-6">
                  <div style="margin-top: -25px; line-height: 30px;">
                    <b>วันที่ทำรายการ : </b> <%= borrowNow[m4].bor_book_date %> <br>
                    <b>วันที่รับของ : </b> <%= borrowNow[m4].bor_date %> <br>
                    <b>วันที่คืนของ : </b> <%= borrowNow[m4].bor_return_date %> <br>
                  </div>
                </div>
                <div class="col-xs-6 col-md-6 col-lg-6" style="margin-bottom: 20px;">
                  <div style="margin-top: -25px; line-height: 30px;">
                    <b>เวลา : </b> <%= borrowNow[m4].bor_book_time %> <br>
                    <b>เวลา : </b> <%= borrowNow[m4].bor_time %> <br>
                    <b>เวลา : </b> <%= borrowNow[m4].bor_return_time %> <br>
                  </div>
                </div>
                <h5 style="color: #333; font-size: 14px;">
                  รายการอุปกรณ์
                </h5>  
                <hr style="margin-top: -5px;">
                <div class="col-xs-6 col-md-6 col-lg-6" style="margin-top: -25px; line-height: 30px;">
                  <div class="portfolio-item">
                    <img src="/portfolio/<%= borrowNow[m4].set_pic %>" class="img-responsive">
                  </div>
                </div>
                  
                <div class="col-xs-6 col-md-6 col-lg-6" style="margin-top: -25px; line-height: 30px;">
                  <div style="padding-top: 10px;">
                    <% if (allBorrows[m4][0][0].set_can_borrow == 'o') { %>
                      <b><input type="checkbox" checked readonly>
                        &nbsp; <%= borrowNow[m4].set_name %>
                      </b><br>
                    <% } else { %>
                      <% allBorrows[m4].forEach((v, i) => { %>
                        <% if (v[0].type_can_borrow == 'o') { %>
                          <b><input type="checkbox" checked readonly>
                            &nbsp; <%= v[0].type_name %>
                          </b><br>
                        <% } else { %>
                          <b><input type="checkbox" checked readonly>
                            &nbsp; <%= v[0].equip_name %>
                          </b><br>
                        <% } %>
                      <% }) %>
                    <% } %>        
                  </div>
                </div>
                  
                <div class="col-xs-12 col-md-12 col-lg-12">
                  <table class="table">
                    <thead>
                    <% var n = 0 %>
                    <% allBorrows[m4].forEach((v, i) => { %>
                      <tr>
                        <th> <%= n = n + 1 %> </th>
                        <th>
                          <%= v[0].type_name %>
                        </th>
                        <th>จำนวน</th>
                      </tr>
                    </thead>
                    <tbody>
                     <% v.forEach((vv, ii) => { %>
                      <tr>
                        <td></td>
                        <td> <%= vv.equip_name %> </td>
                        <td> <%= vv.bor_equip_amount %> </td>
                      </tr>
                     <% }) %>
                    <% }) %>
                    </tbody>
                  </table>
                </div>

                  <br>

                <div class="col-xs-12 col-md-12 col-lg-12">
                  <h5 style="color: #333; font-size: 14px; margin-left: -14px;">
                    รายละเอียดผู้ยืม
                  </h5>  
                  <hr style="margin-top: -5px; margin-left: -14px;">
                  <div style="margin-top: -25px; line-height: 30px;">
                    <b>ชื่อ-นามสกุล : </b> <%= datas.stu_name %> <br>
                    <b>รหัสนิสิต : </b> <%= datas.mem_id %> <br>
                    <b>เบอร์โทรติดต่อ1 : </b> <%= borrowNow[m4].bor_phone1 %> <br>
                    <b>เบอร์โทรติดต่อ2 : </b> <%= borrowNow[m4].bor_phone2 %> <br>
                      <b>รายวิชา : </b> <%= borrowNow[m4].bor_subject %> <br>
                      <b>วัตถุประสงค์​ : </b><br>
                      <textarea disabled cols="24" rows="3"><%= borrowNow[m4].bor_object %></textarea><br>
                  </div>
                </div>
                            
                <div class="col-xs-12 col-md-12 col-lg-12">
                  <h5 style="color: #333; font-size: 14px; margin-left: -14px;">
                    ผู้รับผิดชอบ
                  </h5>  
                  <hr style="margin-top: -5px; margin-left: -14px;">
                  <div style="margin-top: -25px; line-height: 30px;">
                    <b>ลงชื่อผู้ยืม : </b> <%= datas.stu_name %> <br>
                    <b>อาจารย์ประจำวิชา : </b> <%= borrowNow[m4].bor_sub_prof %> <br>
                    <b>ผู้จัดเตรียม/ผู้ดูแลอุปกรณ์ : </b> <%= borrowNow[m4].staff_name %> <br><br>
                  </div>
                </div>

                <div class="col-xs-12 col-md-12 col-lg-12">
                  <hr class="under_hr">
                  <h5 style="color: #333; font-size: 14px; margin-left: -14px; margin-top: 15px;">
                    <div style="margin-top: -20px; margin-left: 15px; line-height: 30px;">
                      <i class="fa fa-times-circle" style="color:red"></i>
                      <b style="color: red;">
                        ไม่อนุมัติ
                      </b> <br>
                      หมายเหตุ: &nbsp;&nbsp;
                      <%= borrowNow[m4].bor_note %>
                    </div>
                  </h5>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="modal-footer"></div>
      </div>
    </div>
  </div>
<% } %>


      
<div id="footer">
  <div class="container-fluid text-center copyrights">
    <div class="col-md-8 col-md-offset-2">
      <div class="social">
          <ul>
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
          </ul>
      </div>
      <p>&copy; COLLEGE OF SOCIAL COMMUNICATION INNOVATION.ALL RIGHTS RESERVED<br><br>
          TEL. 02-649-5000 EXT 11275 , 02-259-2343 EMAIL. PRCOSCISWU@GMAIL.COM
      </p>
    </div>
  </div>
</div>
    


<script type="text/javascript" src="/jquery.1.11.1.js"></script> 
<script type="text/javascript" src="/bootstrap.js"></script> 
<script type="text/javascript" src="/jquery.isotope.js"></script> 
<script type="text/javascript" src="/main.js"></script>

<script>

  /* --- ปุ่มเปลี่ยนหน้า -> ประวัติการยืม&รายการยืม ----- */
  let hisBorrow = <%-JSON.stringify(borrowHis)%>;
  let pageDiv1 = Math.ceil(hisBorrow.length / 10)
  let nowBorrow = <%-JSON.stringify(borrowNow)%>;
  let pageDiv2 = Math.ceil(nowBorrow.length / 4)
  
  function disableHisBTN() {
    if ($('.d0').is(':visible')) {
      if ($('.d' + (pageDiv1-1)).is(':visible')) {
        $('.back').attr("disabled", true);
        $('.next').attr("disabled", true);
      } else {
        $('.back').attr("disabled", true);
        $('.next').attr("disabled", false);
      }
    }
    else if ($('.d' + (pageDiv1-1)).is(':visible')) {
      $('.back').attr("disabled", false);
      $('.next').attr("disabled", true);
    }
    else {
      $('.back').attr("disabled", false);
      $('.next').attr("disabled", false);
    }
  }

  function hideHisDiv() {
    for (i=0; i<(pageDiv1) ;i++) {
      $(".d" + i).hide();
    }
  }

  $('a[href="#tab-history"]').click(function() {
    hideHisDiv();
    $('.d0').show();
    $('.back').attr("disabled", true);
    if (pageDiv1.length == 1) {
      $('.next').attr("disabled", true)
    }
  });

  $('.next').click(function() {
    let clickindex = $(this).index('.next');
    hideHisDiv();
    $(".d" + (clickindex + 1)).show();
    disableHisBTN()
  })

  $('.back').click(function() {
    let clickindex = $(this).index('.back');
    hideHisDiv();
    $(".d" + (clickindex - 1)).show();
    disableHisBTN()
  })

  function disableNowBTN() {
    if ($('.dd0').is(':visible')) {
      if ($('.dd' + (pageDiv2-1)).is(':visible')) {
        $('.back2').attr("disabled", true);
        $('.next2').attr("disabled", true);
      } else {
        $('.back2').attr("disabled", true);
        $('.next2').attr("disabled", false);
      }
    }
    else if ($('.dd' + (pageDiv2-1)).is(':visible')) {
      $('.back2').attr("disabled", false);
      $('.next2').attr("disabled", true);
    }
    else {
      $('.back2').attr("disabled", false);
      $('.next2').attr("disabled", false);
    }
  }

  function hideNowDiv() {
    for (j=0; j<(pageDiv2) ;j++) {
      $(".dd" + j).hide();
    }
  }
  hideNowDiv();
  $('.dd0').show();
  disableNowBTN()

  $('.next2').click(function() {
    let clickindex = $(this).index('.next2');
    hideNowDiv();
    $(".dd" + (clickindex + 1)).show();
    disableNowBTN()
  })

  $('.back2').click(function() {
    let clickindex = $(this).index('.back2');
    hideNowDiv();
    $(".dd" + (clickindex - 1)).show();
    disableNowBTN()
  })



$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();   
});

$(document).ready(function() {

  $('.modal').on('hidden.bs.modal', function(event) {
    $(this).removeClass( 'fv-modal-stack' );
    $('body').data( 'fv_open_modals', $('body').data( 'fv_open_modals' ) - 1 );
  });

  $('.modal').on('shown.bs.modal', function (event) {
    // keep track of the number of open modals
    if ( typeof( $('body').data( 'fv_open_modals' ) ) == 'undefined' ) {
        $('body').data( 'fv_open_modals', 0 );
    }

    // if the z-index of this modal has been set, ignore.
    if ($(this).hasClass('fv-modal-stack')) {
        return;
    }

    $(this).addClass('fv-modal-stack');
    $('body').data('fv_open_modals', $('body').data('fv_open_modals' ) + 1 );
    $(this).css('z-index', 1040 + (10 * $('body').data('fv_open_modals' )));
    $('.modal-backdrop').not('.fv-modal-stack').css('z-index', 1039 + (10 * $('body').data('fv_open_modals')));
    $('.modal-backdrop').not('fv-modal-stack').addClass('fv-modal-stack'); 

  });
});

/* ===== Submit Button - จะใช้งานได้เมื่อตรงกับวันที่รับ/คืนของ ===== */
let todayDate = new Date();
let borDate = $('#dd2').val();
let borTime = $('#tt2').val();
let dbParts = borDate.split("-");
let tbParts = borTime.split(":");
let getBorDate = new Date(dbParts[0], (dbParts[1] - 1), dbParts[2], tbParts[0], tbParts[1], tbParts[2]);

let retDate = $('#dd1').val();
let retTime = $('#tt1').val();
let drParts = retDate.split("-");
let trParts = retTime.split(":");
let getRetDate = new Date(drParts[0], (drParts[1] - 1), drParts[2], trParts[0], trParts[1], trParts[2]);

if (todayDate >= getBorDate) {
  $('#m2sub').attr("disabled", false)
} else {
  $('#m2sub').attr("disabled", true)
}

if (todayDate >= getRetDate) {
  $('#m1sub').attr("disabled", false)
} else {
  $('#m1sub').attr("disabled", true)
}



/* ===== Print Div ===== */
// ==> style.css (@media print {...} จะทำงานเฉพาะตอนปริ้นท์)
function printDiv(divID) {
  var printContents = document.getElementById(divID).outerHTML;
  let myWindow = window.open();
  let doc = myWindow.document;
  doc.open();
  doc.write('<html><head>');
  doc.write('<link rel="stylesheet" href="/bootstrap.css">');
  doc.write('<link rel="stylesheet" href="/style.css">');
  doc.write('</head><body>');
  doc.write(printContents);
  doc.write('</body></html>');
  doc.close();
  myWindow.print();
}

</script>

</body>
</html>