<!DOCTYPE html>
<html lang="en">
  
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>COSCI - ระบบยืมคืนอุปกรณ์ครุภัณฑ์</title>
<meta name="description" content="">
<meta name="author" content="">

<!-- =============== Bootstrap =============== -->
<link rel="stylesheet" type="text/css"  href="/bootstrap.css">

<!-- =============== Stylesheet =============== -->
<link rel="stylesheet" type="text/css"  href="/style.css">
<link rel="stylesheet" type="text/css"  href="/userStyle.css">
<link rel="stylesheet" type="text/css"  href="/fontface.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Kanit:200,300,400,500,600,700&amp;subset=thai" rel="stylesheet">

</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<!-- =============== Navigation =============== -->
<nav id="menu" class="navbar navbar-default navbar-fixed-top">
  <div class="container"> 
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> 
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span><span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand page-scroll" href="#">
        <img class="logo-header" src="/cosciLogo.png">
      </a>
    </div>
    
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#portfolio" class="page-scroll">HOME&nbsp;&nbsp;&nbsp;•</a></li>
        <li><a href="/user_student/<%=usn%>/select/equipment" class="page-scroll">Equipment&nbsp;&nbsp;&nbsp;•</a></li>
        <li><a href="/user/logout" class="page-scroll">LOGOUT&nbsp;&nbsp;&nbsp;<i class="fa fa-sign-out"></i>&nbsp;</a></li>
        <li class="user-tag">
          <a href="/user_student/<%=usn%>/profile" id="user-tag-a">
            <i class="fa fa-user"></i>&nbsp;&nbsp;ID : <%= datas.mem_id %>&nbsp;&nbsp;
              <br>
            <i class="fa fa-clock-o"></i>&nbsp;&nbsp;DATE : <%= todays %>
            <div class="img-user"><img src="/user/<%= datas.mem_pic %>"></div>
          </a>
        </li>
     </ul>
    </div>
  </div>
</nav>

<!-- Portfolio Section -->
<div id="portfolio">
  <div class="section-title text-center center">
    <div class="overlay">
      <div class="container">
        <div class="row">
          <br><br><br><br>
          <div class="user-text">
            <h2>สวัสดี, <%= datas.stu_name %></h2>
            <hr>
            <p>ยินดีต้อนรับเข้าสู่ระบบยืม-คืนอุปกรณ์ครุภัณฑ์<br>
              " ดูรายการยืมคืนของคุณด้านล่าง "<br>
              <a href="#content" style="color: white;">
                <i class="fa fa-sort-down icon-down"></i>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div> 
  
  <div id="content" class="container">
    <div class="row" style="margin-left: 15px;">
      <h3 style="margin-top: 0px;">
        รายการยืมคืนอุปกรณ์ครุภัณฑ์ในปัจจุบัน
      </h3>
      <hr style="width: 420px;">
      <div class="col-xs-12 col-md-12 col-lg-12">
      <div style="margin-left: 20px; margin-bottom: 60px; display: block; line-height: 30px;">
        <% if (borrowss.length > 0) { %>
          <% let b1 = '' %>
          <% let b2 = '' %>
          <table style="width: 90%;" class="borrowTable">
            <% borrowss.forEach((value, index) => { %>
              <% b1 = value.bor_id %>
              <tr>
                <th style="width: 10%;">
                  <% if (value.bor_status == 'r') { %>
                    <b style="color: purple;">
                      คืนอุปกรณ์
                    </b>
                  <% } else if (value.bor_status == 'a') { %>
                    <b style="color: green;">
                      รับอุปกรณ์
                    </b>
                  <% } else if (value.bor_status == 'p') { %>
                    <b style="color: goldenrod;">
                      รอตรวจสอบ
                    </b>
                  <% } else { %>
                    <b style="color: darkred;">
                      ไม่อนุมัติ
                    </b>
                  <% } %>
                </th>
                <td style="width: 10%;">
                  <%= value.set_name %>
                </td>
                <td style="width: 25%;">
                  <% if (value.set_can_borrow == 'o') { %>
                    -
                  <% } else { %>
                    <% borrowdata.forEach((v, i) => { %>
                      <% b2 = v.bor_id %>
                      <% if (b1 == b2) { %>
                        <% if (v.type_can_borrow == 'o') { %>
                          - <%= v.type_name %> <br>
                        <% } else { %>
                          - <%= v.equip_name %> <br>
                        <% } %>
                      <% } %>
                    <% }) %>
                  <% } %>
                </td>
                <td style="width: 15%;">
                  วันที่ยืม <br>
                  <%= value.bor_date %> <%= value.bor_time %>
                </td>
                <td style="width: 15%;">
                  วันที่คืน <br>
                  <%= value.bor_return_date %> <%= value.bor_return_time %>
                </td>
              </tr>
            <% }) %>
          </table>
        <% } else { %>
          <span style="margin-left: 50px; font-size: 17px;">
            ไม่พบรายการยืมคืนในปัจจุบัน
          </span>
          <br>
          <a href="/user_student/<%=usn%>/select/equipment" style="margin-left: 50px; ">
            <b>ยืมอุปกรณ์</b>
          </a>
        <% } %>
      </div>
      </div>
    </div>
    
    <div style="background-color: lightgray; padding: 10px; border-radius: 10px; margin-bottom: 90px;">
      <i class="fa fa-star"></i>
      <b><u> ติดต่อสอบถาม </u></b>
      <i class="fa fa-star"></i>
      <br>
      <div style="margin-left: 15px;">
        ยืมคืนอุปกรณ์ครุภัณฑ์ภาพยนตร์:&nbsp;&nbsp;&nbsp;&nbsp; นายณภัทร สุบรรณพงษ์ (พี่มิค)&nbsp; 
        <i class="fa fa-phone"></i>
        084-137-3731 หรือ 02-649-5000 ต่อ 11271
      </div>
      <div style="margin-left: 15px;">
        ยืมคืนอุปกรณ์ครุภัณฑ์คอมพิวเตอร์:&nbsp;&nbsp; นายนิธิธัช จุลมกร (พี่กัน)&nbsp; 
        <i class="fa fa-phone"></i>
        085-048-8813 หรือ 02-649-5000 ต่อ 11271
      </div>
      <div style="margin-left: 15px;">
        (ในวันเวลาราชการ: วันจันทร์-ศุกร์ เวลา 08:30น. - 16:30น. <u>ยกเว้นวันหยุดนักขัตฤกษ์</u>)
      </div>
    </div>
  </div>
</div>

      
<div id="footer">
  <div class="container-fluid text-center copyrights">
    <div class="col-md-8 col-md-offset-2">
      <div class="social">
        <ul>
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
        </ul>
      </div>
      <p>&copy; COLLEGE OF SOCIAL COMMUNICATION INNOVATION.ALL RIGHTS RESERVED<br><br>
        TEL. 02-649-5000 EXT 11275 , 02-259-2343 EMAIL. PRCOSCISWU@GMAIL.COM
      </p>
    </div>
  </div>
</div>
    
<!-- Menu Toggle Script -->

<script type="text/javascript" src="/jquery.1.11.1.js"></script> 
<script type="text/javascript" src="/bootstrap.js"></script> 
<script type="text/javascript" src="/jquery.isotope.js"></script> 
<script type="text/javascript" src="/main.js"></script>

</body>
</html>